ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.categories-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.products-container{
    margin-top: 10px;
}

.form{
    background-color: #EDE6DB;
    width: 35rem;
    height: 2.5rem;
    border: 0;
    padding-left: 2rem;
    border-radius: 5px 0 0 5px; 
    font-weight: 500;
}



button.search-btn{
    background-color: #00000000;
    border: 4px solid #EDE6DB;
    padding: 0 1rem;
    border-radius: 5px;
}

button.search-btn:hover{
    background-color: #EDE6DB;
 
}

.filter-section{
    margin: 3rem 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.option:hover{
    cursor: pointer;
    color: #3d659c;
    font-size: 1.07rem;
    font-weight: 700;
    
}

.product-wrapper{
    border-radius: 15px;
    padding: 20px 10px;
    width: 90%;
    margin: 20px auto;
    box-shadow: #110c2e26 0px 48px 100px 0px;
    margin-bottom: 2rem;
    background-color: #00000000;
    border-radius: 5px;
    
}
.product-wrapper:hover{
    box-shadow: #00000049 0px 18px 50px -10px;
    
    
}

.product-image{
    align-items: center;
    display: flex;
    height: 300px;
    min-width: 300px;
    justify-content: center;
    position: relative;
}

.product-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}


.btn-details{
    background-color: #417D7A;
    color: #fff;
    padding: 0.8rem;
    border: 0;
    border-radius: 5px;
    margin-left: 1.5rem;
    font-weight: 300;
}

.btn-details:hover{
    
}

.btn-buy{
    color: #fff;
    padding: 0.8rem;
    border:0;
    border-radius: 5px;
    background-color: #0c671e;
    font-weight: 300;
}

.btn-buy:hover{

}


.product-container{
    display: flex;
}


.product-image img{
    display: block;
    height: 80%;
    margin: 0 auto;
    object-fit: contain;
    width: 80%;
}



@media (min-width: 700px) { 

    .cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }

    
    .products-container{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .product-wrapper{
        width: 40%;
    }
   
}


.banner{
    background-image:linear-gradient(#1A3C40, #00000000) ,url('https://images.pexels.com/photos/6416/apple-desk-office-technology.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    backdrop-filter: blur(10px);
}


.banner-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

