.nav-container {
    background-color: #1A3C40;
    display: flex;
    height: 80px;
    justify-content: space-between; 
    padding: 0 2rem;
    
}

.list-navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    align-items: center;   
    width: 100%;
    margin-right: 0.5rem;
}

.list-navbar > h3{
    margin-right: 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    animation: ease-in 2s;
    cursor: pointer;

}

.list-navbar > h3:hover{
    margin-right: 1.5rem;
    font-size: 1.5rem;
    color: #f6ff77;
    border-bottom: 1px solid yellow;
    animation-name: appear;
    animation-duration: 1s;

    

}




.logo {
    display: flex;
    align-items: center;

}

.logo h3{
    display: flex;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    font-size: 3rem;
}


@keyframes appear{

    0%{
        opacity:-1 ;
    }
    100%{
        opacity: 1;
    }

}

